
/*General*/

html {    
  height: 100vh;
}

body {
  background-color:#BF996B;
  padding: 0;
  margin: 0;
  min-height: 100%;
  font-family: Space Grotesk; 
  font-size: 24px;
  color: black;
}

a {
  text-decoration: none!important;
  color: black;
}

p {
  margin: 0;
  padding: 0;
}

/* --------------------------------------------------------------------------- */

/*Macro column grid*/

.grid-index {
  display: grid;
  grid-template-columns: 1fr 1fr;   
  height: 100vh; 
}

@media (max-width:500px) {
  .grid-index {
    grid-template-columns: 1fr;
    font-size: 14px;    
  }
}

.grid-about {
  display: grid;
  grid-template-columns: 1fr 1fr;   
  height: 100vh;   
  }

@media (max-width:500px) {
  .grid-about {
    grid-template-columns: 1fr;
    font-size: 14px;       
  }
}

.grid-things {
  display: grid;
  grid-template-columns: 0.25fr 1fr 0.25fr;
  height: 100vh;
}

@media (max-width:500px) {
  .grid-things {    
    font-size: 14px;      
  }
}

/* --------------------------------------------------------------------------- */

/*Vertical column*/

.v-index-1 {
border-right: 1px solid black;
display: grid;
grid-template-rows: max-content 0.1fr 0.1fr 1fr; 
}

@media (max-width:500px) {
  .v-index-1 {    
    border-right: 0;      
  }
}

.v-index-2 {  
  display: grid;
  grid-template-rows: 0.1fr 0.1fr 1fr;  
  }

.v-about-1 {  
  border-right: 1px solid black;
  display: grid;
  grid-template-rows: max-content 1fr;  
  }

  @media (max-width:500px) {
    .v-about-1 {    
      border-right: 0;      
    }
  }

.v-about-2 {    
  border-right: 1px solid black;   
  }

.v-about-3 {
  padding: 20px 20px; 
  text-align: right;
  font-size: 30px;    
}

.v-things-1 {
  border-right: 1px solid black;
  display: grid;
  grid-template-rows: 22.5% 37.5% 7.5% 15% 1fr;
}

.v-things-2 {
  border-right: 1px solid black;
  display: grid;
  grid-template-rows: repeat(11, 7.5%) 1fr;  
}

.v-things-3 {  
  display: grid;
  grid-template-rows: repeat(11, 7.5%) 1fr;  
}

.v-take {
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  column-gap: 0px; 
  margin: 0;      
}

.v-legami {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}

/* --------------------------------------------------------------------------- */

/*Rows inside columns*/

.h-1 {
  border-bottom: 1px solid black;
  padding: 20px 20px;  
}

.h-2 {
  border-bottom: 1px solid black;
  padding: 20px 20px;    
}

.h-2-about {
  display: grid;
  grid-template-columns: 1fr 1fr;      
}

.h-3 {
  border-bottom: 1px solid black;
  padding: 20px 20px;
  transition: color 0.15s;
}

.h-things-1 {
  border-bottom: 1px solid black;
  padding: 20px 20px;  
}

@media (max-width:500px) {
  .h-things-1 {    
    padding: 8px 8px;      
  }
}

.h-things-2 { 
  display: grid;
  grid-template-rows: 1fr 0.5fr;  
  padding: 20px 20px;
}

@media (max-width:500px) {
  .h-things-2 {    
    padding: 8px 8px;      
  }
}

.h-take {
  display: grid;
  grid-template-rows: 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr;
  row-gap: 0px;
  text-align: left;
}

.h-take-micro {
  padding: 20px 20px;
  text-decoration: underline;
}

.h-footer {  
  position: fixed;
  font-size: 16px;   
  bottom: 20px;
  left: 20px;
  }

@media (max-width:500px) {
  .h-footer {    
    font-size: 10px;
  }
}

/* --------------------------------------------------------------------------- */

/*Other*/

.hover-index {
  transition: color 0.15s;
}

.hover-index:hover {
  color: white;  
}

.close { 
  position: fixed;
  bottom: 20px;
  right: 20px;   
  font-size: 40px;
  color: white;
  transition: color 0.15s;
}

.close:hover {
  color: black;
}

@media (max-width:500px) {
  .close {  
    bottom: 10px; 
    font-size: 30px;          
  }
}

.image { 
  width: 100vh;  
}

@media (max-width:500px) {
  .image {    
    width: 47vh;      
  }
}

.image-2 {
  padding-bottom: 15px;
  max-width: 100%;       
}

@media (max-width:500px) {
  .image-2 {    
    width: 50vh;      
  }
}

.video {
  padding: 20px 20px;  
}

.p-shifted {
  padding-left: 40px;
}

h1 {
  margin: 0;
  padding: 0;
}

sup {
  color:white;
}

ol {
  padding-left: 40px; 
  margin: 0;  
  max-width: 100vh;
}

@media (max-width:500px) {
  ol {    
    padding-left: 10px;      
  }
}

li {
  padding: 0;  
  margin: 0;
  max-width: 100vh;
}

.hovertext {
  position: relative;
  border-bottom: 1px solid white;
  cursor: pointer;  
}

.hovertext:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;  
  background-color: white;
  color: black;
  text-align: left;
  border-radius: 10px;
  padding: 10px;  
  margin: 0;  
  transition: opacity 0.15s ease-in-out;
  position: fixed;
  z-index: 2;
  left: 52%;  
  top: 50%;
  font-size: 21px;
  font-family: EB Garamond;
  border: 1px solid black;  
  display: block; 
  width: 90vh; 
}

@media (max-width:500px) {
  .hovertext:before {    
    font-size: 14px;
    left: 5%; 
    width: 48vh;        
  }
}

.hovertext:hover:before {
  opacity: 1;
  visibility: visible; 
}
/* --------------------------------------------------------------------------- */